<h1>Facebook Clone へようこそ！</h1>
<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %>件のエラーより <%= @user.name %> が登録されませんでした。</h2>
		<ul>
		<% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
		<% end %>
		</ul>
	</div>
<% end %>
<%= form_with(model: @user, local: true ) do |f| %>
<ul class="users_form_ul" style="list-style-type: none;" >
  <li>
    <%= f.label "お名前：" %><br>
    <%= f.text_field :name %><br>
  </li>
  <li>
    <%= f.label "メールアドレス：" %><br>
    <%= f.text_field :email %><br>
  </li>
  <li>
    <%= f.label "パスワード："  %><br>
    <%= f.password_field :password %><br>
  </li>
    <li>
    <%= f.label "パスワード確認："  %><br>
    <%= f.password_field :password_confirmation %><br><br>
  </li>
  <li>
    <%= f.submit "アカウント作成" %>
  </li>
</ul>
<% end %>
