<p id="notice"><%= notice %></p>
<p>
  <strong>タイトル:</strong><%= @picture_blog.title %>
</p>
<p>
  <strong>本文:</strong><%= @picture_blog.content %>
</p>

<% if @picture_blog.image.url  %>
  <p>
    <strong>イメージ:</strong>
    <%= image_tag @picture_blog.image.url %>
  </p>
<% end %>

<%= link_to 'Back', picture_blogs_path %>

